<footer class="wsus__footer">
  <div class="wsus__footer_top">
    <div class="container">
      <div class="row">

        <div class="col-xl-3 col-sm-6 wow fadeInUp">
          <div class="wsus__footer_about">
            <a class="footer_logo" href="/">
              <span style="font-size: 1.5rem; font-weight: 700;">
                <span style="color: #ffffff;">Edu</span><span style="color: #356DF1;">Core</span>
              </span>
            </a>
            <p>Transformando educação com inteligência artificial. Uma plataforma para professores, alunos e PcD.</p>
          </div>
        </div>

        <div class="col-xl-3 col-sm-6 wow fadeInUp">
          <div class="wsus__footer_menu">
            <h5>Plataforma</h5>
            <ul>
              <li><a href="#">Como funciona</a></li>
              <li><a href="#">Recursos</a></li>
              <li><a href="#">Integrações</a></li>
            </ul>
          </div>
        </div>

        <div class="col-xl-3 col-sm-6 wow fadeInUp">
          <div class="wsus__footer_menu">
            <h5>Público</h5>
            <ul>
              <li><a href="#">Professores</a></li>
              <li><a href="#">Alunos</a></li>
              <li><a href="#">PcD</a></li>
              <li><a href="#">Instituições</a></li>
            </ul>
          </div>
        </div>

        <div class="col-xl-3 col-sm-6 wow fadeInUp">
          <div class="wsus__footer_menu">
            <h5>Contato</h5>
            <ul>
              <li><a href="#">Sobre nós</a></li>
              <li><a href="#">SENAC-DF</a></li>
              <li><a href="#">Suporte</a></li>
            </ul>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="wsus__footer_bottom">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <p>© 2026 EduCore. Todos os direitos reservados. Desenvolvido por alunos do SENAC-DF.</p>
        </div>
      </div>
    </div>
  </div>

</footer>
