<nav class="navbar navbar-expand-lg main_menu main_menu_3">
  <a class="navbar-brand" href="/">
    <img src="images/logo.png" alt="EduCore" class="img-fluid" style="max-height: 40px;">
  </a>

  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav m-auto">
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Como funciona</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sobre</a>
      </li>
    </ul>

    <div class="right_menu">
      <ul>
        <li>
          <a class="menu_signin" href="#">
            <span>
              <img src="images/user_icon_black.png" alt="user" class="img-fluid">
            </span>
            Entrar
          </a>
        </li>
        <li>
          <a class="common_btn" href="#">Cadastrar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
